---
import ButtonTag from "../../components/control/ButtonTag.astro";
import I18nKey from "../../i18n/i18nKey";
import { i18n } from "../../i18n/translation";
import MainGridLayout from "../../layouts/MainGridLayout.astro";
import { getTagList } from "../../utils/content-utils";
import { getTagUrl } from "../../utils/url-utils";

const tags = await getTagList();
---

<MainGridLayout title={i18n(I18nKey.tags)} description={i18n(I18nKey.tags)}>
    <div class="card-base p-8">
        <h1 class="text-3xl font-bold mb-8">{i18n(I18nKey.tags)}</h1>
        <div class="flex flex-wrap gap-4">
            {tags.map((tag) => (
                <ButtonTag href={getTagUrl(tag.name.trim())} label={`View all posts with the ${tag.name.trim()} tag`}>
                    {tag.name.trim()} ({tag.count})
                </ButtonTag>
            ))}
        </div>
        {tags.length === 0 && (
            <div class="text-center py-12 text-neutral-500">
                {i18n(I18nKey.noTags)}
            </div>
        )}
    </div>
</MainGridLayout>
